@use '@/styles/palette';
@use '@/styles/fonts';
@import '@/styles/library';

.container {
  height: 300vh;
  display: flex;
  margin: 2rem 0;
  flex-direction: column;
  place-items: center;
  width: 100vw;
}

.image {
  @include fit-content;
  height: 50vh;
  border-radius: 2px;
  background: url('@/assets/images/image-7.jpg') no-repeat center;
  background-size: cover;
  display: grid;
  grid-template-rows: calc(50% - 3rem) min-content auto;
  padding: 2rem;
  align-items: flex-start;
  justify-content: center;
  background-position: 0 var(--pos, 0%);
  gap: 1rem;

  & h5 {
    font-size: 1.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: palette.$off-white;
    font-family: fonts.$calder;
  }
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;

  & div:first-child {
    display: flex;
    justify-content: end;
  }
}

.garden {
  @include shadow;
  width: 34vh;
  height: 45vh;
  background: url('@/assets/images/image-2.jpg') no-repeat center;
  background-size: cover;
  background-position-x: 90%;
  transform: translateY(-2rem);
}

.story {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4rem;
  padding: 1rem;
  gap: 2rem;

  & h5 {
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-family: fonts.$calder-dark;
    text-transform: uppercase;
  }
  & p {
    max-width: 50ch;
    letter-spacing: 2px;
    font-family: fonts.$american-typewriter;
  }
  & a {
    font-size: 1rem;
    color: palette.$ink;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: fonts.$american-typewriter;
    text-decoration: underline;
  }
}

.text {
  width: 40vw;
  position: absolute;
  opacity: 0.3;
  transform: translate(-42px, -78px);
}

.haircut {
  @include shadow;
  position: absolute;
  width: 400px;
  transform: translateY(48px);
  right: 0;
}
.salon {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  background-color: rgba(palette.$earth, 0.7);
  min-height: 50vh;
}
