@use '@/styles/palette';
@use '@/styles/fonts';

.container {
  height: 300vh;
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
  place-items: center;
  width: 100vw;
}

.image {
  width: 80vw;
  height: 50vh;
  border-radius: 2px;
  max-width: 1200px;
  background: url('@/assets/images/content/image-7.jpg') no-repeat center;
  background-size: cover;
  display: grid;
  grid-template-rows: calc(50% - 3rem) min-content auto;
  padding: 2rem;
  align-items: flex-start;
  justify-content: center;
  background-position: 0 var(--pos, 0%);
  gap: 1rem;

  & h5 {
    font-size: 1.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: palette.$off-white;
    font-family: fonts.$nickson-one;
  }

  @media (max-width: 850px) {
    width: 100vw;
  }
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;

  & div:first-child {
    display: flex;
    justify-content: end;
  }
}

.garden {
  width: 34vh;
  height: 45vh;
  background: url('@/assets/images/content/image-2.jpg') no-repeat center;
  background-size: cover;
  background-position-x: 90%;
  transform: translateY(-2rem);
  border-radius: 2px;
  filter: drop-shadow(0 0 2px rgba(palette.$tertiary-400, 0.5));
}

.story {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4rem;
  padding: 1rem;
  gap: 1rem;

  & h5 {
    font-size: 1.8rem;
    letter-spacing: 3px;
    font-family: fonts.$nickson-one;
    text-transform: uppercase;
  }
  & p {
    max-width: 50ch;
    letter-spacing: 2px;
    font-family: fonts.$american-typewriter;
  }
  & a {
    font-size: 1rem;
    color: palette.$ink;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: fonts.$american-typewriter;
    text-decoration: underline;
  }
}
