@font-face {
  font-family: 'Nickson One';
  src: url('./assets/fonts/S_S Nickson One.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bandoeng';
  src: url('./assets/fonts/Bandoeng.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Myriad Pro', sans-serif;
  color-scheme: normal;
  color: #1b1b1b;
  background-color: #faf8f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: inherit;
  color: inherit;
}

#root,
#portal {
  isolation: isolate;
}

#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#portal {
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}
