// variables
$myriad-pro: 'Myriad Pro';
$nickson-one: 'Nickson One';
$bandoeng: 'Bandoeng';
$american-typewriter: 'American Typewriter';

// assets
@font-face {
  font-family: $myriad-pro;
  src: url('@/assets/fonts/MyriadPro-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: $nickson-one;
  src: url('@/assets/fonts/S_S Nickson One.otf');
  font-weight: 400;
}
@font-face {
  font-family: $bandoeng;
  src: url('@/assets/fonts/Bandoeng.otf');
  font-weight: 400;
}
@font-face {
  font-family: $american-typewriter;
  src: url('@/assets/fonts/AmericanTypewriter.ttc');
  font-weight: 400;
}
