// greyscale
$white: #ffffff;
$off-white: #f4f3ea;
$tertiary: #d2cec8;
$charcoal: #444244;
$black: #191919;

// primary
$wheat: #e9d9bc;
$blush: #e3a88c;
$russet: #a15f27;
$earth: #46483b;
$ink: #1b1b1b;

// secondary
$blush-light: #d5b49e;
$bright-russet: #a15f27;
$earth-green: #6f6f5e;
