// greyscale
$white: #ffffff;
$off-white: #f4f3ea;

// tertiary
$tertiary-100: #f7f7f7;
$tertiary-200: #cfcfcf;
$tertiary-300: #a1a1a1;
$tertiary-400: #545454;
$tertiary-500: #1b1b1b;

// primary
$wheat: #e9d9bc;
$blush: #e3a88c;
$russet: #a15f27;
$earth: #46483b;
$ink: #1b1b1b;

// secondary
$blush-light: #d5b49e;
$bright-russet: #a15f27;
$earth-green: #6f6f5e;
