// whites
$white: #f2efe9;
$off-white: #f4f3ea;
$wheat: #e9d9bc;

// blush
$blush-light: #d5b49e;
$blush: #e3a88c;

// earth
$earth-green: #6f6f5e;
$earth: #46483b;

// russet
$bright-russet: #a15f27;
$russet: #4f3622;

// blacks
$charcoal: #444244;
$ink: #1b1b1b;
$black: #191919;
