@tailwind base;
@tailwind components;
@tailwind utilities;
@use 'palette';
@import 'fonts';
@import 'reset';

:root {
  font-family: $myriad-pro, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color-scheme: normal;
  color: palette.$ink;
  background-color: palette.$off-white;
}

body {
  display: flex;
  place-items: center;
}

.app {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

%element {
  width: 100%;
}

header {
  @extend %element;
  top: 0;
  position: sticky;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  z-index: 100;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  z-index: 100;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
}

footer {
  @extend %element;
  padding: 2rem;
  color: palette.$off-white;
  background-color: palette.$tertiary-400;
  display: flex;
  place-items: center;
  justify-content: center;
}
