@use 'variables';

@mixin shadow($opacity: 0.5) {
  border-radius: 2px;
  filter: drop-shadow(0 0 2px rgba(variables.$tertiary-400, $opacity));
}

@mixin fit-content($max-width: 1200px) {
  width: 80vw;
  max-width: $max-width;

  @media (max-width: 850px) {
    width: 100vw;
  }
}
