// fonts
$myriad-pro: 'Myriad Pro';
$nickson-one: 'Nickson One';
$bandoeng: 'Bandoeng';
$american-typewriter: 'American Typewriter';
$calder: 'calder-lc';
$calder-dark: 'calder-dark';
$calder-script: 'calder-script';

// palette
$white: #ffffff;
$off-white: #f4f3ea;
$tertiary-100: #f7f7f7;
$tertiary-200: #cfcfcf;
$tertiary-300: #a1a1a1;
$tertiary-400: #545454;
$tertiary-500: #1b1b1b;
$wheat: #e9d9bc;
$blush: #e3a88c;
$earth: #46483b;
$ink: #1b1b1b;
$blush-light: #d5b49e;
$bright-russet: #a15f27;
$earth-green: #6f6f5e;
$russet: #a15f27;
$russet-medium: #66462b;
$russet-dark: #3d2a1a;
