@use '@/styles/fonts';
@use '@/styles/palette';

.primary {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 2rem 0;
  justify-content: space-between;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  & h5 {
    font-size: 12px;
    font-weight: 300;
    color: palette.$tertiary-500;
    border-top: 1px solid palette.$tertiary-500;
    border-bottom: 1px solid palette.$tertiary-500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 4px 2px;
  }
}

.logo {
  fill: palette.$ink;
  height: 100px;
  width: auto;
}

.texture {
  height: 2rem;
  width: 80vw;
  margin-top: 2rem;
  border-radius: 2px;
  justify-self: center;
  background: url('@/assets/images/textures/boho-folk-E.jpg') repeat;
  background-position: 0 var(--pos, 50px);
  background-size: auto 300px;
  max-width: 1200px;
  filter: drop-shadow(0 0 2px rgba(palette.$tertiary-400, 0.5));

  @media (max-width: 850px) {
    width: 100vw;
  }
}
