@use '@/styles/fonts';
@use '@/styles/palette';
@import '@/styles/library';

.primary {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
  background-color: palette.$off-white;
  &::after {
    content: ' ';
    height: 1rem;
    width: 100%;
    bottom: -1rem;
    left: 0;
    position: absolute;
    background: linear-gradient(palette.$off-white, palette.$off-white, transparent);
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  & h5 {
    font-size: 12px;
    font-weight: 300;
    color: palette.$tertiary-500;
    border-top: 1px solid palette.$tertiary-500;
    border-bottom: 1px solid palette.$tertiary-500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 4px 2px;
  }
}

.logo {
  fill: palette.$ink;
  height: 100px;
  width: auto;
}

.center {
  display: flex;
  justify-content: center;
  background: transparent;
}

.texture-container {
  @include fit-content;
  padding-top: 8px;
  position: fixed;
  z-index: 100;
  top: var(--top, 200px);
  background-color: palette.$off-white;
}
.texture {
  height: 2rem;
  @include shadow;
  background: url('@/assets/textures/boho-folk-E.jpg') repeat;
  background-position: 0 var(--pos, 50px);
  background-size: auto 300px;
}
