@use '@/styles/variables';

.item {
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: left;
  padding: 4px 12px;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  transition: 100ms ease;

  &:active {
    background-color: variables.$blush;
  }

  &.external {
    color: variables.$russet;
    margin-top: 1rem;
  }
}

.item[data-active='true']:not(:active) {
  background-color: variables.$tertiary-200;
}

.item[data-selected='true'] {
  text-decoration: underline;
}
