@use '@/styles/palette';

.item {
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: left;
  padding: 4px 12px;
  outline: none;
  background-color: transparent;
  border-left: 4px solid transparent;
  text-decoration: none;
  transition: 100ms ease;

  &:active {
    background-color: palette.$blush;
  }

  &.external {
    color: palette.$russet;
    margin-top: 1rem;
  }
}

.item[data-active='true']:not(:active) {
  background-color: palette.$tertiary-200;
}

.item[data-selected='true'] {
  border-color: palette.$blush;
}
