@use '@/styles/variables';

.menu {
  border: none;
  outline: none;
  background: transparent;
  border-radius: 4px;
  display: flex;
  place-items: center;
  place-content: center;
  transition: 100ms ease;
  &:focus,
  &:hover,
  &:active {
    background-color: variables.$tertiary-200;
  }
}

.menu[data-open] {
  background-color: variables.$tertiary-200;
}

.dropdown {
  display: flex;
  flex-direction: column;
  background-color: variables.$tertiary-100;
  width: 150px;
  padding: 4px;
  outline: none;
  border-radius: 4px;
  border: 1px solid variables.$tertiary-500;
}
